
$playlistWidth: 320px;
$playlistBGColor: rgba(43, 51, 63, 0.9);
$preBtnBorderWidth: 2px;
$preBtnHeight: 24px;

#elm-playlist {
  position: relative;
  // top: 0;
  // right: 0;
  // bottom: 0;
  padding-bottom: 3em;
  // width: 100%;

  &__prev-dir-btn {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: $preBtnHeight;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: $playlistWidth;
    border-bottom: $preBtnBorderWidth solid black;
    background-color: $playlistBGColor;
  }
}

.elm-playlist {
  &__container {
    padding: 4px;
    position: absolute;
    top: 0;
    right: 0;
    width: $playlistWidth;
    height: calc(100vh - 3em);
    overflow: hidden;

    &--show-pre-btn {
      top: $preBtnHeight + $preBtnBorderWidth;
      height: calc(100vh - 3em - $preBtnHeight);
    }
  }

  &__bg {
    background-color: $playlistBGColor;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: $playlistWidth;
  }

  &__mask {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: calc(100vh - 3em);
  }

  &--hide {
    display: none;
  }

  &__item {
    margin-top: 2px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 5px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 2px;

    &:hover {
      background-color: rgba(43, 51, 63, 1);
      box-shadow: 0 0 2px 2px rgba(254, 254, 254, 0.6);
    }

    &--selected {
      background-color: rgba(43, 51, 63, 1);
      box-shadow: 0 0 2px 1px rgba(254, 254, 254, 0.6);
    }

    &-tag {
      color: gray;
    }

    &-title {
      color: rgb(254, 254, 254);
    }
  }
}